<div class="container mt-50">

    <p *ngIf="loading()">Betöltés...</p>

    <p *ngIf="error()" style="color:red">
        {{ error() }}
    </p>

    <table *ngIf="!loading() && vehicles().length > 0" class="table-auto 
                                         w-full 
                                         border 
                                         border-gray-300 
                                         dark:border-gray-700 
                                         mt-10">
        <thead>
            <tr>
                <th *ngFor="let key of vehicles()[0] | keyvalue">
                    {{ key.key }}
                </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let vehicle of vehicles()">
                <td *ngFor="let field of vehicle | keyvalue">
                    {{ field.value }}
                </td>
            </tr>
        </tbody>
    </table>
</div>